.related-products{
    font-family: 'AGaramondRegular', serif;
    text-transform: none;
    margin-top: 20px;
    margin-bottom: -18px;
    font-size: 26px;
}
@media(min-width: 768px){
    .related-products{
        margin-top: 40px;
    }
}
@media(min-width: 992px){
    .related-products{
        margin-top: 80px;
    }
}