.slider-section{
    position: relative;
}
.slide-div{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel .fa{
    position: absolute;
    top: 45%;
    font-size: 1.25em;
}
.carousel .fa-arrow-left{
    left: 20px;
}
.carousel  .fa-arrow-right{
    right: 20px;
}
.carousel-control{
    opacity: 0.3;
}
.carousel-control:hover, .carousel-control:focus, .carousel-control:active{
    opacity: 0.5;
}
.carousel-caption {
    bottom: auto;
    right: auto;
    left: 31px;
    top: 0px;
    width: 183px;
}
.carousel-caption h2 {
    color: #4d4d4d;
    font-size: 0.875em;
    font-family: "GILSans", Helvetica, Arial, sans-serif;
    letter-spacing: 3px;
    line-height: 23px;
    text-shadow: none;
    word-spacing: 3px;
    width: 141px;
    margin-bottom: 25px;
}
.carousel-caption ul{
    margin-bottom: 40px;
}
.carousel-caption p{
    color: #111;
    font-size: 0.75em;
    font-family: "ProximaNovaThin", Helvetica, Arial, sans-serif;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
}
.carousel-caption .more-btn {
    color: #4d4d4d;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 2px;
    font-weight: 400;
    display: inline-block;
    border: 1px solid #8c8c8c;
    padding: 8px 13px 8px 15px;
    margin-left: -42px;
}
@media(min-width: 768px){
    .carousel .fa{
        font-size: 1.75em;
    }
    .carousel .fa-arrow-left{
        left: 40px;
    }
    .carousel .fa-arrow-right{
        right: 40px;
    }
    .carousel-caption{
        left: 31px;
        top: 47px;
        width: auto;
    }
    .carousel-caption h2 {
        font-size: 1.063em;
        letter-spacing: 4px;
        line-height: 26px;
        word-spacing: 3px;
        width: 330px;
        margin-bottom: 13px;
    }
    .carousel-caption p {
        margin-bottom: 19px;
    }
    .carousel-caption ul{
        margin-bottom: 19px;
    }
    .carousel-caption .more-btn{
        padding: 8px 33px 8px 35px;
        margin-left: 0px;
    }

}
@media(min-width: 992px){

    .carousel-caption h2 {
        font-size: 1.688em;
        letter-spacing: 5px;
        line-height: 37px;
        margin-bottom: 25px;
    }
    .carousel-caption{
        left: 111px;
        top: 57px;
    }
    .carousel-caption p {
        margin-bottom: 26px;
    }
    .carousel-caption ul{
        margin-bottom: 40px;
    }
}
@media(min-width: 1200px){
    .carousel-caption{
        left: 211px;
        top: 97px;
    }
}
