.main-content-section{
    margin: 0px auto 36px auto;
}
.main-content-section .more-btn{
    color: white;
    text-transform: uppercase;
    font-size: 0.625em;
    letter-spacing: 2px;
    font-weight: 100;
    display: inline-block;
    border: 1px solid white;
    padding: 8px 33px 8px 35px;
    margin-bottom: 40px;
}
.create-your-own{
    background-color: #32969B;
    /*background-image: url('../assets/eternity-bg.png');*/
    background-position: center;
    background-size: cover;
    padding-left: 15px;
    text-align: center;
    padding-top: 40px;
    margin: 0px 10px;
}
.create-your-own h2{
    font-size: 1em;
    margin-bottom: 14px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    line-height: 22px;
}
.create-your-own hr{
    width: 75px;
    border-top-color: white;
    margin-bottom: 28px;
}
.create-your-own p{
    color: white;
    margin-bottom: 30px;
    font-family: "ProximaNovaThin", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-align: center;
    padding: 0px 27px;
}
@media(min-width: 768px) {
    .main-content-section{
        padding: 0px 20px;
        margin-bottom: 20px;
    }
    .main-content-section > div{
        margin: 0px;
    }
    .create-your-own{
        margin-top: 10px;
        padding-bottom: 20px;
    }
    .create-your-own p{
        padding: 0px 80px;
        margin-bottom: 20px;
    }
    .main-content-section .more-btn{
        margin-bottom: 20px;
    }
    @-moz-document url-prefix() {
        .create-your-own p {
            display: block;
        }
    }
    .create-your-own p {
        display: block\9;
    }
}
@media(min-width: 992px) {
    .create-your-own{
        padding-left: 45px;
        height: 380px;
        text-align: left;
    }
    .create-your-own h2{
        margin-left: 0px;
        margin-right: 0px;
        text-align: left;
    }
    .create-your-own hr {
        display: inline-block
    }
    .create-your-own p {
        width: 300px;
        height: 112px;
        text-align: left;
        padding: 0px;
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        display: -webkit-box;
    }
}
@media(min-width: 1200px) {
    .create-your-own {
        padding-left: 90px;
    }
}
/* - - - */
.testimonial{
    padding-top: 50px;
}
.testimonial h2{
    font-size: 4.25em;
    font-family: serif;
    line-height: 22px;
    color: #38959a;
    margin-bottom: 20px;
}
.testimonial p.testimonial-text{
    width: 90%;
    font-family: "AGaramondItalic", serif;
    line-height: 32px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.testimonial p.testimonial-from{
    text-transform: uppercase;
    color: #38959a;
    border-bottom: 1px solid #38959a;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 0.75em;
    letter-spacing: 2px;
    word-spacing: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    margin-bottom: 0px;
}
@media(min-width: 768px) {
    .testimonial{
        height: 380px;
    }
    .testimonial p.testimonial-text{
        width: 500px;
        height: 192px;
        overflow: hidden;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        display: -webkit-box;
        margin-bottom: 0px;
    }
    @-moz-document url-prefix() {
        .testimonial p.testimonial-text{
            display: inline-block;
        }
    }
    .testimonial p.testimonial-text{
        display: block\9;
    }
}
@media(min-width: 992px) {
    .testimonial p.testimonial-text {
        margin-bottom: 0px;
    }
}