.contact-content-section{
    padding: 0px 10px;
    font-family: 'AGaramondRegular', serif;
}
.contact-content-section .col-md-6{
    margin-bottom: 10px;
}
.contact-content-section h3{
    text-transform: none;
    font-size: 20px;
    line-height: 24px;
}
.contact-content-section h3.chat{
    margin-bottom: 30px;
}
.contact-content-section .chat-call{
    background-color: #ebebeb;
    padding: 30px 0px;
}
.contact-content-section .fa {
    font-size: 40px;
    color: #318389;
}
.contact-content-section .email-us, .contact-content-section .book-us {
    padding: 10px 10px 20px 10px;
}
.contact-content-section .book-us {
    background-color: #b4ded3;
}
#emailUs, #bookUs{
    font-family: "GILSans", Helvetica, Arial, sans-serif;
}
.contact-content-section .email-us h3, .contact-content-section .book-us h3 {
    margin-bottom: 30px;
}
#emailUs input, #emailUs textarea,
#bookUs input, #bookUs textarea{
    border: 1px solid grey;
    border-radius: 0px;
    padding: 23px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    margin-bottom: 20px;
    color: black;
}
#emailUs textarea,
#bookUs textarea {
    padding: 5px 10px;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
}
#emailUs .submit,
#bookUs .submit{
    float: right;
    cursor: pointer;
}
#emailUs .submit button,
#bookUs .submit button {
    padding: 0px 0px 0px 17px;
}
#emailUs button,
#bookUs button{
    border: 1px solid black;
    border-radius: 0px;
    padding: 15px 15px 16px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    background-color: white;
    color: black;
}
#emailUs .submit .submit-arrow,
#bookUs .submit .submit-arrow {
    display: inline-block;
    width: 40px;
    height: 46px;
    background-color: #318389;
    border-left: 1px solid black;
    color: white;
    padding-top: 16px;
    margin-left: 10px;
}
#bookUs button, #bookUs textarea, #bookUs input{
    background-color: #b4ded3;
}
#emailUs .fa, #bookUs .fa{
    font-size: 14px;
    color: white;
}
.contact-content-section .contact-img{
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-content-section .google-maps{
    height: 330px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
@media(min-width: 768px){
    .contact-content-section{
        padding: 0px 20px;
    }
    .contact-content-section .col-md-6{
        margin-bottom: 20px;
    }
    .contact-content-section .chat-call {
        padding: 50px 0px;
    }
    .contact-content-section .email-us, .contact-content-section .book-us {
        padding: 30px 135px 20px 135px;
    }
    .contact-content-section .fa{
        font-size: 70px;
    }
    .contact-content-section h3{
        font-size: 24px;
    }
    .contact-content-section h3.chat {
        margin-bottom: 60px;
    }
    .contact-content-section .email-us h3, .contact-content-section .book-us h3{
        margin-bottom: 60px;
    }
    .contact-content-section .book-us{
        padding-bottom: 80px;
    }
    .contact-content-section .google-maps{
        margin-bottom: 20px;
        height: 530px;
    }
    .contact-content-section .contact-img{
        height: 615px;
    }
}
@media(min-width: 992px){
    .contact-content-section .chat-call{
        padding: 150px 0px 170px 0px;
    }
    .contact-content-section .email-us, .contact-content-section .book-us {
        padding: 76px 100px 0px 100px;
    }
    .contact-content-section .col-md-6.chat, .contact-content-section .col-md-6.book{
        padding-right: 10px;
    }
    .contact-content-section .col-md-6.email, .contact-content-section .col-md-6.bg-img{
        padding-left: 10px;
    }
    .contact-content-section .book-us {
        padding-bottom: 80px;
    }
}
@media(min-width: 1200px){
    .contact-content-section .email-us, .contact-content-section .book-us {
        padding: 76px 135px 0px 135px;
    }
    .contact-content-section .book-us {
        padding-bottom: 80px;
    }
}