.faq-promos-section{
    padding: 0px 20px;
    margin-bottom: 20px;
}
.faq-promos-section .faq-holder{
    margin-bottom: 20px;
}
.faq-promos-section .faq{
    height: 460px;
    background-color: #b4ded3;
}
.faq-promos-section .promos{
    height: 460px;
    background-color: #b5c6d4;
}
@media(min-width: 992px){
    .faq-promos-section .faq-holder{
        padding-right: 10px;
        margin-bottom: 0px;
    }
    .faq-promos-section .promos-holder{
        padding-left: 10px;
    }
}