.text-image-section{
    padding: 0px 20px;
    margin-bottom: 20px;
    margin-top: 70px;
}
.text-image-section .text h2{
    font-family: 'AGaramondRegular', serif;
    text-transform: none;
    font-size: 23px;
    line-height: 29px;
    margin-bottom: 25px;
}
.text-image-section .text p{
    font-family: "ProximaNovaThin", Helvetica, Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
    font-size: 17px;
    line-height: 26px;
}
.text-image-section .image{
    margin-bottom: 40px;
}
@media(min-width: 992px) {
    .text-image-section .text h2{
        padding-right: 80px;
        margin-bottom: 45px;
    }
    .text-image-section .text p{
        padding-right: 40px;
    }
    .text-image-section .image{
        margin-bottom: 0px;
    }
}