.related-blog-section .related-blog-holder{
    background-color: #e8e8e8;
    margin-bottom: 10px;
    padding: 30px 10px 50px 10px;
    margin-top: -29px;
}
.related-blog-section .related-blog-holder .title{
    font-family: 'AGaramondRegular', serif;
    text-transform: none;
    margin-top: 12px;
    font-size: 24px;
    margin-bottom: 18px;
}
.related-blog-section .related-blog-holder .row{
    margin-left: -10px;
    margin-right: -10px;
}
.related-blog-section .related-blog-holder .row > div{
    padding-left: 10px;
    padding-right: 10px;
}
.related-blog-section .single-blog{
    display: inline-block;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px 10px 25px 10px;
}
.related-blog-section .single-blog .blog-title,
.related-blog-section .single-blog .date-time,
.related-blog-section .single-blog .social-share{
    padding-left: 20px;
    padding-right: 50px;
}
.related-blog-section .single-blog ul.social-share li{
    text-align: center;
}
.related-blog-section .social{
    display: inline-block;
    border-radius: 13px;
    border: 1px solid #318389;
    width: 26px;
    height: 26px;
}
.related-blog-section ul{
    margin-bottom: 0px;
}
.related-blog-section .fa-facebook, .related-blog-section .fa-google-plus,
.related-blog-section .fa-twitter, .related-blog-section .fa-pinterest-p{
    color: #318389;
    margin-top: 5px;
    font-size: 14px;
}
.related-blog-section .single-blog .blog-title{
    font-family: 'AGaramondRegular', serif;
    text-transform: none;
    font-size: 19px;
    letter-spacing: 0px;
    line-height: 24px;
}
.related-blog-section .single-blog .date-time{
    color: #318389;
    font-size: 14px;
}
@media(min-width: 768px) {
    .related-blog-section{
        padding: 0px 20px;
    }
    .related-blog-section .related-blog-holder{
        padding: 60px 150px 50px 150px;
        margin-bottom: 20px;
    }
    .related-blog-section .related-blog-holder .title{
        margin-top: 26px;
        font-size: 29px;
        margin-bottom: 30px;
    }
    .related-blog-section .related-blog-holder .row{
        margin-left: -15px;
        margin-right: -15px;
    }
    .related-blog-section .single-blog{
        margin-bottom: 20px;
    }
}
@media(min-width: 992px) {
    .related-blog-section .related-blog-holder {
        padding: 60px 90px 50px 90px;
    }
}
@media(min-width: 1200px) {
    .related-blog-section .related-blog-holder {
        padding: 60px 200px 50px 200px;
    }
}