.testimonials-widget-section{
    padding: 0px 20px;
    margin-bottom: 20px;
}
.testimonials-widget-section .testimonials-widget-holder{
    padding-top: 50px;
    position: relative;
}
.testimonials-widget-section .testimonials-widget-holder .filter{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: ProximaNovaRegular, sans-serif;
    letter-spacing: 1.8px;
    color: #318389;
}
.testimonials-widget-section .filter .fa-caret-down{
    position: relative;
}
.testimonials-widget-section .filter .fa-caret-down:before{
    font-size: 27px;
    position: absolute;
    top: -19px;
}
.testimonials-widget-section .testimonials-widget-holder > .row{
    background-color: #ebebeb;
}
.testimonials-widget-section .testimonials-widget-holder .testimonial-col{
    background-color: white;
}
.testimonials-widget-section .image-col{
    position: relative;
    height: 211px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.testimonials-widget-section .image-col a{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding-right: 30px;
}
.testimonials-widget-section .image-col a span{
    display: inline-block;
    padding: 7px 10px 5px 10px;
    border: 1px solid grey;
    font-size: 9px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}
.testimonials-widget-section .author-date{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: ProximaNovaRegular, sans-serif;
    letter-spacing: 1.8px;
    color: #318389;
    padding-top: 20px;
    border: none;
    margin-top: 20px;
}
.testimonials-widget-section .testimonial-col > .row:last-child .description{
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 0px;
}
.testimonials-widget-section .author-date .author{
    float: left;
}
.testimonials-widget-section .author-date .date{
    float: right;
}
.testimonials-widget-section .testimonial-col .description{
    font-family: ProximaNovaThin, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #333;
    line-height: 27px;
    padding-top: 7px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}
@media(min-width: 768px) {
    .testimonials-widget-section .testimonials-widget-holder {
        padding: 100px 80px 50px 80px;
    }
    .testimonials-widget-section .testimonials-widget-holder .filter {
        top: 70px;
        right: 79px;
    }
}
@media(min-width: 992px) {
    .testimonials-widget-section .author-date {
        border-top: 1px solid #aaa;
        margin-top: 0px;
    }
    .testimonials-widget-section .testimonial-col .description{
        padding-bottom: 0px;
        border-bottom: none;
    }
}