.byo-section{
    font-family: "GILSans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 0.750em;
    background-color: #f0f0f0;
}
.byo-section li{
    padding: 12px 30px;
    width: 100%;
}
.byo-section li:first-child{
    padding-bottom: 0px;
}
.byo-section li:last-child{
    padding-top: 0px;
    padding-bottom: 20px;
}
.byo-section li a{
    text-decoration: underline;
    line-height: 17px;
}
@media(min-width: 768px){
    .byo-section li, .byo-section li:first-child, .byo-section li:last-child {
        padding: 0px 30px;
        width: auto;
    }
    .byo-section li a{
        line-height: 48px;
    }
}