.four-products-categories{
    margin: 70px auto 0px auto;
}
.four-grp-holder{
    margin: 10px 10px 0px 10px;
}
.four-grp-holder > div{
    padding: 0px;
}
.four-grp-holder .more-btn{
    color: white;
    text-transform: uppercase;
    font-size: 0.625em;
    letter-spacing: 2px;
    font-weight: 100;
    display: inline-block;
    border: 1px solid white;
    padding: 8px;
}
.four-grp-holder .category h2{
    font-family: "GILSans", Helvetica, Arial, sans-serif;
    color: white;
    font-size: .7em;
    letter-spacing: 1px;
    line-height: 20px;
}
.four-grp-holder .category-1{
    background-color: #e99096;
    margin-right: 5px;
}
.four-grp-holder .category-2{
    background-color: #c4d4e0;
    margin-left: 5px;
    margin-right: 0px;
}
.four-grp-holder .category-3{
    background-color: #c4d4e0;
    margin-left: 0px;
    margin-right: 5px;
}
.four-grp-holder .category-4{
    background-color: #d2cecb;
    margin-left: 5px;
    margin-right: 0px;
}
.four-grp-holder .category span{
    display: inline-block;
}
.four-grp-holder .category{
    padding-top: 13px;
    margin-top: 0px;
    padding-bottom: 58px;
    position: relative;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    margin-bottom: 10px;
}
.four-grp-holder .explore-holder{
    position: absolute;
    width: 100%;
    bottom: 20px;
}
@media(min-width: 440px) {
    .four-grp-holder .category{
        background-size: 30%;
    }
}
@media(min-width: 768px) {
    .four-products-categories{
        margin-bottom: 0px;
    }
    .four-grp-holder .more-btn{
        padding: 8px 33px 8px 35px;
    }
    .four-grp-holder{
        margin: 20px;
    }
    .four-grp-holder .category-1{
        margin-right: 14px;
    }
    .four-grp-holder .category-2{
        margin-left: 6px;
        margin-right: 14px;
    }
    .four-grp-holder .category-3{
        margin-left: 6px;
        margin-right: 7px;
    }
    .four-grp-holder .category-4{
        margin-left: 13px;
    }
    .four-grp-holder .category{
        background-size: 80%;
        height: 350px;
        margin-bottom: 0px;
    }
    .four-grp-holder .category h2{
        font-size: 1em;
        letter-spacing: 4px;
        line-height: 29px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .four-grp-holder .explore-holder{
        bottom: 29px;
    }
}
@media(min-width: 992px) {
    .four-products-categories{
        margin-top: 70px;
    }
    .four-grp-holder .category{
        background-size: auto;
    }
}
