.promos-text-section{
    font-family: "GILSans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding: 0px 25px;
    margin-bottom: 10px;
}
.promos-text-section .promo{
    height: 400px;
    background-color: #fcfcfc;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    margin-top: 0px;
    padding-bottom: 58px;
    position: relative;
    background-size: cover;
}
.promos-text-section .promo.different-text-pos h2{
    width: auto;
    top: 147px;
    left: 34px;
}
.promos-text-section .promo-cell{
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 10px;
}
.promos-text-section h2{
    font-size: 1em;
    letter-spacing: 3px;
    color: #3a3a3a;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 336px;
}
.engagement.promos-text-section{
    margin-bottom: 20px;
}
.promos-text-section .promo-text{
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    text-align: center;
}
.promos-text-section .promo-text p{
    font-family: "ProximaNovaThin", Helvetica, Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 0px;
    font-size: 0.9375em;
    line-height: 30px;
    word-spacing: 2px;
    text-transform: none;
    margin-bottom: 40px;
    overflow: hidden;
}
.promos-text-section .more-btn{
    text-transform: uppercase;
    font-size: 0.625em;
    letter-spacing: 2px;
    font-weight: 100;
    display: inline-block;
    border: 1px solid #8c8c8c;
    padding: 8px 33px 8px 35px;
}
@media(min-width: 768px){
    .promos-text-section{
        padding: 0px 20px;
    }
    .promos-text-section .row > div:first-child{
        padding-right: 10px;
    }
    .promos-text-section .row > div:last-child{
        padding-left: 10px;
    }
    .promos-text-section .promo-cell{
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 0px;
    }
    .promos-text-section .promo.different-text-pos h2{
        top: 197px;
        left: 80px;
    }
    .promos-text-section{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .engagement.promos-text-section{
        margin-bottom: 40px;
    }
    .promos-text-section .promo.different-text-pos h2{
        left: 138px;
    }
    .promos-text-section .promo-text{
        padding-left: 38px;
        padding-top: 40px;
        padding-right: 35px;
        text-align: left;
    }
    .promos-text-section .promo-text p{
        max-height: 270px;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 9;
    }
}
@media(min-width: 992px){
    .promos-text-section .promo-text{
        padding-left: 78px;
        padding-top: 80px;
        padding-right: 50px;
    }
    .promos-text-section .promo-text p{
        max-height: 240px;
        -webkit-line-clamp: 8;
    }
}