.engagement-slider-h2 {
    font-family: 'AGaramondRegular', serif;
    text-transform: none;
    margin-top: 26px;
    margin-bottom: -18px;
    font-size: 21px;
}
@media(min-width: 768px) {
    .engagement-slider-h2{
        margin-top: 55px;
        font-size: 26px;
    }
}